@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

html::-webkit-scrollbar {
    display: none;
}

:root {
    --rosa: #52be3cb6;
    --rosaOscuro: #318d15;
    --attachment: fixed;
    --colorStop-1: 60%;
    --colorStop-2: calc(var(--colorStop-1) + 80px);
    --attachment: fixed;
    --degrees: 100deg;
    --colorStop-1: 50%;
    --colorStop-2: calc(var(--colorStop-1) + 100px);
}

body {
    max-width: 1920px;
    font-family: "Noto Sans KR", sans-serif;
    background-color: #fff;
    color: #282828;
    background-image: linear-gradient(var(--degrees), transparent var(--colorStop-1), var(--rosaOscuro) var(--colorStop-1) var(--colorStop-2), var(--rosa) var(--colorStop-2)), radial-gradient(circle at 20% 70%,
            rgb(239 208 234 / 0.9),
            rgb(234 201 242 / 0.6),
            rgb(231 238 197 / 0.6),
            rgb(205 240 219 / 0.6),
            rgb(231 237 245 / 0.6));
    background-attachment: var(--attachment);
    min-height: 100vh;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

/*FIN GENERAL*/

/*NAVBAR*/

.logo {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.container {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 15px;
    transition: .3s;
}

.container:hover {
    background: var(--rosaOscuro);
    cursor: pointer;
}

.hamburger_icon {
    font-size: 30px;
    cursor: pointer;
}

#navbar {
    display: none;
}

#navbar.active {
    display: block;
}

.lateral {
    height: 100vh;
    background-color: transparent;
    position: fixed;
    z-index: 1000;
}

.lateral.active {
    background-color: var(--rosa);
    transition: 0.5s;
}

#ods-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(4,1fr);
    float: right;
    justify-content: center;
    gap: 0.5rem;
    column-gap: 2rem;
    padding: 1rem;
}

.ods-img{
    width: 7rem;
    height: 7rem;
}

.ods-img:hover{
    transform: scale(1.1);
    transition: 0.2s;
    cursor: pointer;
}

.ods-info{
    padding: 1rem;
    border-radius: 1rem;
    margin-left: 10rem;
}

.ods-info img{
    width: 25%;
    height: 25%;

}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}